<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>vue-19-computed</title>
  <style>
   .socks {width:540px;height:auto;margin:0 auto;border:1px solid #f90;}
   .socks:after {content:'';display:block;clear:both}
   .socks-image {float:left}
   .socks-info {float:left;margin-left:20px}
   
   /* color-box 스타일 추가 */
   .color-box {
    width:40px;
	height:40px;
	margin-top:5px;
   }
  </style>
  <script src="https://unpkg.com/vue"></script>
 </head>
 <body>
 <div class="nav-bar"></div>
  <div id="app">
   <div class="socks">
    <div class="socks-image">
	 <img  v-bind:src="image" v-bind:alt="altText" v-bind:title="tit" />	
	</div>
	<div class="socks-info">
	<!-- {{brand}} {{product}} -->
	 <h2>{{title}}</h2>
	 
     <p v-show="inStock">In Stock</p>
	 
	 <ul>
	  <li v-for="detail in details">{{ detail }}</li>
	 </ul>

	 <div v-for="variant in variants" 
	 :key="variant.variantId"
	 class="color-box"
	 :style="{backgroundColor: variant.variantColor}"
	 @mouseover="updateProduct(variant.variantImage)"
	 >
	 </div>
                       <!-- cart += 1 -->
	 <button v-on:click="addToCart">Add to cart</button>
     
	 <div class="cart">
	  <p>Cart({{cart}})</p>
	 </div>

	</div>
   </div>
  </div>
  <script>
    //정적렌더링
    var app =new Vue({
	 el:'#app',
	 data:{
	   brand:'Darks',
	   product:'Socks',
	   image:'images/pic4.jpg',
	   altText:'빨간양말',
	   tit:'Socks-빨간양말',
	   inStock: true,      /* flase - 값안보임 */
	   details:["80% cotton","20% polyester","Gender-neutral"],
	   variants:[
	   {variantId:2234,
	    variantColor:"red",
		variantImage:'images/pic4.jpg'
		},
	   {variantId:2235,
	    variantColor:"blue",
		variantImage:'images/pic5.jpg'
		}   
      ],
	  cart : 0
	 },
	 methods: {
	  addToCart(){
	   this.cart += 1
	  },
	  updateProduct(variantImage){
	   this.image = variantImage
	  }
	 },
	 computed:{
	   title(){
	    return this.brand + ' ' + this.product
	   }
	 }
	});
  </script>
 </body>
</html>
<!-- 
event type

<button @click="addToCart">Add to cart</button>
<div @mouseover="updateProduct">Color</div>    
<from @submit="addToCart">...</from>
<input @keyup.enter="send" />


-->